.no-children {
    height: 300px;
    background: url("../img/no-children.png") no-repeat center;
}

li {
  list-style-type: none;
}

li:hover {
  background-color: #D4E5F5;
}

.list {
  height: 100px;
  overflow: auto;
  padding: 0 8px;
  border: 1px solid #DEDEDE;
}

.item-color {
  background-color: #DEDEDE;
  height: 16px;
  width: 6px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 50px);
  display: inline-block;
}

.item-action {
  float: right;
  cursor: pointer;
  display: none;
  background: url("../img/delete.png") no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 8px;
}

li:hover .item-action {
  display: inline; 
}
